.card-fragment {
    display: flex;
    background-color: #eaeaea;
    box-shadow: 0 0 15px #828282;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    flex-grow: 1;
    gap: 40px;
    align-items: stretch;
    flex-direction: column;
    justify-content: stretch;
}